{% raw %}{% extends "account-base.html" %}

{% load url from future %}
{% load i18n %}

{% block title %}Register for an account{% endblock %}
{% block content %}


<form class="signup form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Register Account</h2>
    {% include 'account/form_errors.html' %}
    {% include 'account/form_fields.html' %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="form-control btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}{% endraw %}